$aqua: #13d6ea;
$black: #000;
$blackish: #363636;
$greyish: #a6a6a6;
$greyish-brown: #545454;
$lightgrey: #a0a0a0;
$muted-black: #282828;
$muted-white: #f9f9f9;
$pinkish-grey: #cfcfcf;
$turquoise-blue: #00accf;
$warm-grey: #828282;
$white: #ffffff;
$whiteish: #e7e7e7;
