@import "../../assets/scss/mixins";

.noResults {
    margin: 3.25rem auto;
    width: 75%;

    @include md {
        max-width: 1080px;
    }
}

.searchTerm {
    font-weight: bold;
}
